<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Relatório sobre Cancelamento e IR</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body style="margin:0; padding:0; background-color:#f4f7fc; font-family: 'Roboto', Arial, sans-serif;">


  <table align="center" border="0" cellpadding="0" cellspacing="0" width="585" style="background-color:#020922; border-collapse:collapse;">

    <!-- Cabeçalho -->
    <tr>
      <td align="center" colspan="2" style="padding:7px;">
        <img src="https://raw.githubusercontent.com/JP-1077/Repositorio-Front-End/refs/heads/main/Header%20Alterado.png" alt="Portal Polaris" width="595" style="display:block;">
      </td>
    </tr>
    
    <tr>
      <td colspan="2" style="padding:30px; background-color:#020922;">

        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
            <td align="center" style="color:#ffffff; font-size:14px; font-weight:bold; padding-bottom:20px;">
                <span style="color:#ffffff; font-style:italic;">INFORMAÇÕES GERAIS</span>
            </td>
            </tr>
        </table>

        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>

            <!-- D0 -->
            <td align="center" valign="top" style="background-color:#020922; border:1px solid #4bcfff; color:#ffffff; font-size:14px; padding:15px; border-radius:6px;">
              <strong>INFORMAÇÕES D-0:</strong><br><br>
              
              <strong>Solicitações:</strong><br>
              <strong>Cancelados:</strong><br>
              <strong>Retidos:</strong><br>
              <strong>IR:</strong>
            </td>

            <td width="20"></td>

            <!-- D3 -->
            <td align="center" valign="top" style="background-color:#020922; border:1px solid #4bcfff; color:#ffffff; font-size:14px; padding:15px; border-radius:6px;">
              <strong>INFORMAÇÕES D-3</strong><br><br>

              <strong>Solicitações:</strong><br>
              <strong>Cancelados:</strong><br>
              <strong>Retidos:</strong><br>
              <strong>IR:</strong>
            </td>

            <td width="20"></td>

            <!-- D7 -->
            <td align="center" valign="top" style="background-color:#020922; border:1px solid #4bcfff; color:#ffffff; font-size:14px; padding:15px; border-radius:6px;">
              <strong>INFORMAÇÕES D-7</strong><br><br>

              <strong>Solicitações:</strong><br>
              <strong>Cancelados:</strong><br>
              <strong>Retidos:</strong><br>
              <strong>IR:</strong>
            </td>

          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td colspan="2" style="padding:30px; background-color:#020922;">

        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
            <td align="center" style="color: #ffffff; font-size:14px; font-weight:bold; padding-bottom:20px;">
              <span style="color:#ffffff; font-style:italic;">INFORMAÇÕES COM ABERTURA DE INFRACO</span>
            </td>
            </tr>
        </table>

        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>

            <!-- D0 -->
            <td align="center" valign="top" style="background-color:#020922; border:1px solid #4bcfff; color:#ffffff; font-size:14px; padding:15px; border-radius:6px;">
              <strong>INFORMAÇÕES D-0:</strong><br><br>
              
              <strong>Solicitações VTAL:</strong><br>
              <strong>Cancelados VTAL:</strong><br>
              <strong>Retidos VTAL:</strong><br>
              <strong>IR VTAL:</strong><br><br>
              <strong>Solicitações IHS:</strong><br>
              <strong>Cancelados IHS:</strong><br>
              <strong>Retidos IHS:</strong><br>
              <strong>IR IHS:</strong>
            </td>

            <td width="20"></td>

            <!-- D3 -->
            <td align="center" valign="top" style="background-color:#020922; border:1px solid #4bcfff; color:#ffffff; font-size:14px; padding:15px; border-radius:6px;">
              <strong>INFORMAÇÕES D-3</strong><br><br>

              <strong>Solicitações VTAL:</strong><br>
              <strong>Cancelados VTAL:</strong><br>
              <strong>Retidos VTAL:</strong><br>
              <strong>IR VTAL:</strong><br><br>

              <strong>Solicitações IHS:</strong><br>
              <strong>Cancelados IHS:</strong><br>
              <strong>Retidos IHS:</strong><br>
              <strong>IR IHS:</strong>
            </td>

            <td width="20"></td>

            <!-- D7 -->
            <td align="center" valign="top" style="background-color:#020922; border:1px solid #4bcfff; color:#ffffff; font-size:14px; padding:15px; border-radius:6px;">
              <strong>INFORMAÇÕES D-7</strong><br><br>

              <strong>Solicitações VTAL:</strong><br>
              <strong>Cancelados VTAL:</strong><br>
              <strong>Retidos VTAL:</strong><br>
              <strong>IR VTAL:</strong><br><br>

              <strong>Solicitações IHS:</strong><br>
              <strong>Cancelados IHS:</strong><br>
              <strong>Retidos IHS:</strong><br>
              <strong>IR IHS:</strong>
            </td>

          </tr>
        </table>
      </td>
    </tr>


    <tr>
      <td colspan="2" style="padding:30px; background-color:#020922;">

        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
            <td align="center" style="color:#ffffff; font-size:14px; font-weight:bold; padding-bottom:20px;">
              <span style="color:#ffffff; font-style:italic;">INFORMAÇÕES COM ABERTURA DE SITE</span>
            </td>
            </tr>
        </table>

        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>

            <!-- D0 -->
            <td align="center" valign="top" style="background-color:#020922; border:1px solid #4bcfff; color:#ffffff; font-size:14px; padding:15px; border-radius:6px;">
              <strong>INFORMAÇÕES D-0:</strong><br><br>
              
              <strong>Solicitações TMKT:</strong><br>
              <strong>Cancelados TMKT:</strong><br>
              <strong>Retidos TMKT:</strong><br>
              <strong>IR TMKT:</strong><br><br>
              <strong>Solicitações CONTAX:</strong><br>
              <strong>Cancelados CONTAX:</strong><br>
              <strong>Retidos CONTAX:</strong><br>
              <strong>IR CONTAX:</strong>
            </td>

            <td width="20"></td>

            <!-- D3 -->
            <td align="center" valign="top" style="background-color:#020922; border:1px solid #4bcfff; color:#ffffff; font-size:14px; padding:15px; border-radius:6px;">
              <strong>INFORMAÇÕES D-3</strong><br><br>

              <strong>Solicitações TMKT:</strong><br>
              <strong>Cancelados TMKT :</strong><br>
              <strong>Retidos TMKT:</strong><br>
              <strong>IR TMKT:</strong><br><br>

              <strong>Solicitações CONTAX:</strong><br>
              <strong>Cancelados CONTAX:</strong><br>
              <strong>Retidos CONTAX:</strong><br>
              <strong>IR CONTAX:</strong>
            </td>

            <td width="20"></td>

            <!-- D7 -->
            <td align="center" valign="top" style="background-color:#020922; border:1px solid #4bcfff; color:#ffffff; font-size:14px; padding:15px; border-radius:6px;">
              <strong>INFORMAÇÕES D-7</strong><br><br>

              <strong>Solicitações TMKT:</strong><br>
              <strong>Cancelados TMKT:</strong><br>
              <strong>Retidos TMKT:</strong><br>
              <strong>IR TMKT:</strong><br><br>

              <strong>Solicitações CONTAX:</strong><br>
              <strong>Cancelados CONTAX:</strong><br>
              <strong>Retidos CONTAX:</strong><br>
              <strong>IR CONTAX:</strong>
            </td>

          </tr>
        </table>
      </td>
    </tr>

    <!-- Rodapé -->
    <tr>
      <td align="center" colspan="2" style="padding:7px;">
        <img src="https://raw.githubusercontent.com/JP-1077/Repositorio-Front-End/refs/heads/main/Flooter.png" alt="Portal Polaris" width="595" style="display:block;">
      </td>
    </tr>

  </table>
</body>
</html>
